body {
    color: black !important;
    background: #f9f9ff !important;
    font-family: "Roboto" !important;
    font-size: 15px !important;
    padding-top: 70px;
}

.pagination{
    margin-left: 10px;
}

.right{
    background-color: aqua;
}

.section-bg {
    background: #f9fafc;
}

@media (max-width: 767px) {
    .no-flex-xs {
        display: block !important;
    }
}

#header.header-scrolled .main-menu {
    border-color: transparent;
}

@media (max-width: 673px) {
    #logo {
        margin-left: 20px;
    }
}

/* Nav Meu Container */
@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* =================================== */
/*  Homepage Styles
/* =================================== */

.navbar {
    background: -moz-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    background: -ms-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    font-size: 16px !important;
}

.primary-btn {
    background: #8490ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}

.primary-btn span {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    right: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.primary-btn:hover {
    color: black;
}

.primary-btn:focus {
    outline: none;
}

@media (max-width: 991px) {
    .banner-left h1 {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .banner-left {
        margin-top: 100px;
    }
}

@media (max-width: 991px) {
    .banner-right {
        align-self: center !important;
    }
}

@media (max-width: 767px) {
    .banner-right {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}